head, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.background-color {
    height: 200px;
    background-color: rgb(49, 14, 244);
    background-image: linear-gradient(to right, rgb(48, 33, 218) , rgb(255, 0, 0));
}

.title {
    color: aliceblue;
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
    text-align: center;
}

.amount {
    color: aliceblue;
}

#convertor {
    border: 1px solid gray;
    height: 100%;
    border-radius: 15px;
    width: 80%;
    padding: 8px;
    margin: 10px;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 200px 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.grid-item:hover {
    transform: scale(1.3);
}



